/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header > nav {
    background-color: transparent !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

    a.navbar-brand img {
        height: 3rem;
    }

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #f9ca24 !important;
}

.border-bottom {
    border-bottom: 1px solid #f9ca24 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: radial-gradient(#4834d4, #686de0);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    color: navy !important;
    text-align: center;
}

    .footer > div > a {
        text-decoration: none;
        color: navy;
    }

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

    .content-wrapper h1 {
        white-space: nowrap;
    }

    .content-wrapper > div {
        width: min-content;
        padding: 1rem;
        border: none;
        box-shadow: 2px 2px 2px 2px #686de0;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

form {
    text-align: left;
}

    form input[type="submit"] {
        background-color: #30336b;
        color: #c7ecee;
        border-radius: 5px;
        border-color: #535c68;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

        form input[type="submit"]:hover {
            border-color: #95afc0;
        }

    form input[type="number"], form input[type="text"] {
        background-color: transparent;
        color: #dff9fb;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    /* Chrome, Safari, Edge, Opera */
    form input::-webkit-outer-spin-button,
    form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        color: palegoldenrod;
    }

    /* Firefox */
    form input[type=number] {
        -moz-appearance: textfield;
    }
